{% extends '../messagex/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <div class="card">
        <h5 class="card-header">Password Reset</h5>
        <div class="card-body">
            <div class="alert alert-primary" role="alert">Update your new password here.</div>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Confirm">
            </form>
        </div>
    </div>
<br>
<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}