{% extends '../messagex/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <div class="card">
        <h5 class="card-header container">Register</h5>
        <div class="card-body row">
            <div class="col-sm">
            <form class="signup" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Signup">
            </form>
            <br>
            </div>
            <div class="col-sm">
                <div class="card">
                <h5 class="card-header container">Password Generation Help </h5>
                <div class="card-body">
                    A good security practice for choosing a strong password (avoiding using a weak one and also avoiding forgetting it) is to create one based on a set of mixed common known words to you, it can be a phase!<br><br>Here is an example for your convenience (refresh to generate a new one). Do not use these! Just follow the idea and construct your own own with your own set and criteria. Check how strong your password would be <a href="https://www.security.org/how-secure-is-my-password/" target="_blank">here</a>.<br>
                    <br>
                    This can be a strong 12-char long password:
                    <span class="badge badge-success">{{sugested_pass}}</span><br><br>
                    You could remember it as follows:<br>
                    <span class="badge badge-success">{{reasoning}}</span>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
<br>
<a href="{% url 'index' %}">Back to Index</a>
</div>



{% endblock %}