{% extends './base.html' %}
{% block content %}
{% load crispy_forms_tags %} 
{% load static %}

<div>
    <div class="card">
        <h5 class="card-header">Index</h5>
        <div class="card-body">
          <img class="img-fluid card-img-top" src="{% static 'bot_landing_page.jpg' %}" alt="Inbots image"/>
          <h5 class="card-title">Welcome!</h5>
          <p class="card-text">Secure Inbots allows you to send and receive messages between registered users in a secure way!</p>
          <a href="{% url 'login' %}">Log in</a><br>
          <a href="{% url 'register' %}">Register</a><br>
          <a href="{% url 'dbdump' %}">Download DB</a>
        </div>
    </div>
</div>

{% endblock %}